header.header 
    nav.nav.nav--tours
        a.nav__el(href='#') All Tours 
    .header__logo 
        img(src='img/logo-white.png' alt='Natours Logo')
    nav.nav.nav--user 
        //- a.nav__el(href='#') My Bookings
        //- a.nav__el(href='#')
        //-     img(src='img/iser.jpg' alt='User Photo')
        //-     span Aaditya 
        button.nav__el.nav__el--cta Login
        button.nav__el.nav__el--cta Sign Up 